<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <module value="sysuser" name="Usuario">
    <permission value="search" name="Ver" />
    <permission value="manage" name="Admin" />
    <permission value="tools" name="Tools" />
    <permission value="manageSysPermission" name="Config" />
  </module>
  <module value="sysrole" name="Rol Sistema">
    <permission value="search" name="Ver" />
    <permission value="manage" name="Admin" />
    <permission value="tools" name="Tools" />
    <permission value="manageSysPermission" name="Permisos Sistema" />
  </module>
  <module value="appsecret" name="Tecla Interfaz">
    <permission value="search" name="Ver" />
    <permission value="manage" name="Admin" />
  </module>
  <module value="sysLog" name="Log Sistema">
    <permission value="search" name="Ver" />
  </module>
    <module value="operTools" name="Herramientas">
	    <permission value="search" name="Ver" />
	    <permission value="manage" name="Admin" />
    </module>
	<module value="operGroups" name="Grupos">
		<permission value="search" name="Ver" />
		<permission value="manage" name="Admin" />
	</module>
	<module value="operControls" name="Controles">
		<permission value="search" name="Ver" />
		<permission value="manage" name="Admin" />
	</module>
</configuration>