<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="@Url.Scrpit("~/Scripts/vendor/layui/css/layui.css")" />
    <link rel="stylesheet" href="@Url.Scrpit("~/css/fx/desktop.css")" />
</head>

<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <fieldset class="layui-elem-field layui-field-title">
                <legend><strong>SISTEMA DE CONTROL DE GANADERÍA</strong></legend>
            </fieldset>
            <p>En construcción.</p>
            <p>
                <br />
            </p>
            <fieldset class="layui-elem-field">
                <legend>1. Ganadería</legend>
                <div class="layui-field-box">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>Inventario</legend>
                        <div class="layui-field-box">
                            <img src="~/Imagen/ganaderia1.jpg" class="user-image" alt="User Image" style="height:250px;">
                            <br />
                            <br />
                        </div>
                    </fieldset>
                </div>
            </fieldset>
            <br />
        </blockquote>
    </div>
</body>
</html>