<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="@Url.Scrpit("~/Scripts/vendor/layui/css/layui.css")" />
    <link rel="stylesheet" href="@Url.Scrpit("~/css/fx/desktop.css")" />
</head>

<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <fieldset class="layui-elem-field layui-field-title">
                <legend><strong>TOOLS MANAGMENT CONSOLE VERSION 1.0</strong></legend>
            </fieldset>
            <p>This plataform has been develop to assit maintenance managers to keep up-to-date their assets and tools in terms of maintenance procedures.</p>
            <p>
                <br />
                <br />
            </p>

            <fieldset class="layui-elem-field">
                <legend>1. Mantenimiento</legend>
                <div class="layui-field-box">
                    <fieldset class="layui-elem-field layui-field-title">
                        <legend>1.1 Herramientas</legend>
                        <div class="layui-field-box">
                            <p>This option allows to create, edit and delete an asset.</p>
                            <img src="~/Imagen/Herramientas1.png" class="user-image" alt="User Image">
                            <br />
                            <p><strong>1. List Options.</strong></p>
                            <p><strong>New</strong> - Create a new asset or tool</p>
                            <p><strong>Delete</strong> - Delete an asset from the list</p>
                            <p><strong>Refresh</strong> - To update the list</p>
                            <br />
                            <p><strong>2. Row Options.</strong></p>
                            <p><strong>Edit</strong> - Update an asset or tool</p>
                            <p><strong>Delete</strong> - Delete an asset from the list</p>
                            <p><strong>Inspect</strong> - To add a new inspection to the asset</p>
                            <p><strong>Report</strong> - To Download a inspection report regarding to the asset</p>
                            <br />
                        </div>
                    </fieldset>
                </div>
            </fieldset>
            <br />
        </blockquote>
    </div>
</body>
</html>