<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="@Url.Scrpit("~/Scripts/vendor/layui/css/layui.css")" />
    <link rel="stylesheet" href="@Url.Scrpit("~/css/fx/desktop.css")" />
</head>

<body>
    <div class="admin-main">
        <blockquote class="layui-elem-quote">
            <p>Este framework es .NET Core2.1 + versión AdminLTE</p>
            <p>Este marco está diseñado para mejorar enormemente la eficiencia de desarrollo</p>
            <p>
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />
            </p>
            <br />
        </blockquote>
        <fieldset class="layui-elem-field">
            <legend>Actualizar registro</legend>
            <div class="layui-field-box">
                <fieldset class="layui-elem-field layui-field-title">
                    <legend>2019-03-10</legend>
                    <div class="layui-field-box">
                        <p>
                            .NET Core+AdminLTE
                        </p>
                    </div>
                </fieldset>
            </div>
        </fieldset>
    </div>
</body>
</html>